#twitter-handle{'data-handle' => handle}
%button#bio.btn.btn-default.dashboard-action{'data-action-name' =>'get-bio'}
  Get bio
%button#older.btn.btn-default.dashboard-action{'data-action-name' =>'get-older-tweets'}
  Get older tweets
%button#newer.btn.btn-default.dashboard-action{'data-action-name' =>'get-newer-tweets'}
  Get newer tweets
%button#followers.btn.btn-default.dashboard-action{'data-action-name' => 'populate-followers'}
  Refresh followers
