h3 {
  margin: 5px 0px;
}

button.urgent {
  background-color: red;
  color: white;
}

@mixin box-common() {
  border-radius: 3px;
  border: solid 1px;
}

.twitter-box {
  @include box-common();
  border-color: blue;
  padding: 10px;
  margin-bottom: 5px;
}

.twitter-biobox {
  @include box-common();
  border-color: black;
  padding: 2px;
  float: left;
  margin-top: 2px;
  margin-right: 20px;
  &.handlebox {
    padding: 5px;
    background-color: rgb(69, 153, 241);
    a {
      color: black;
    }
  }
}

.twitter-wcbox {
  @include box-common();
  padding: 2px;
  margin-top: 2px;
  margin-right: 20px;
  float: left;
}

.selection-box {
  float: left;
  margin-right: 10px;
  border: solid 1px black;
  background: lightgrey;
  border-radius: 3px;
  cursor: pointer;

  &.sort-target {
    background-color: lightgreen;
  }
}
.databox {
  display: none;
}

.profile-list {
  display: block;
  border-top: solid 2px black;

  .handle-details {
    margin-bottom: 5px;
  }
}

.feed-refresh {
  position: relative;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F1F1F1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-image: image-url('spinner.gif')
}

.tweet-list {
  list-style: numeric;
  .item {
    &.disabled {
      .line-one {
	#retweet-dialog {
	  color: $general-green;
	  cursor: inherit;
	}
      }
    }
    
    background-color: #FFF;
    &:hover {
      background-color: #f5f8fa;
    }

    border: 1px solid #E1E8ED;
    padding: 9px 12px;
    .line-one {
      color: #8899a6;
      font-size: 13px;
      line-height: 20px;
      .action-button {
	color: $general-gray;
	position: relative;
	float: right;
	margin: 5px 10px 0 0;
	cursor: pointer;
	&.nonicon {
	  height: 25px;
	  width: 25px;
	  padding: 3px;
	  font-size: 0.9em;
	}
	svg {
	  fill: currentColor;
	}
      }
      
      .handle {
	display: inline-block;
	a {
	  color: $general-gray;
	  text-decorate: underline;
	  &:hover {
	    cursor: pointer;
	  }
	}
	font-weight: bold;
      }

      .time {
	&:before {
	  content: '\00b7';
	}
	
	display: inline-block;
      }
    }
    
    .tweet-media {
      cursor: pointer;
      margin-top: 10px;
      img {
	max-height: 260px;
      }
    }
  }
}

.previous_page {
  display: none;
}
.next_page {
  margin-left: 15px;
}
.time_data {
  display: none;
}
.countdown {
  margin-bottom: 10px;
  * {
    display: inline-block;
    background-color: black;
    color: white;
    min-width: 30px;
    text-align: right;
    margin-right: 10px;
    padding: 3px 5px 5px 3px;    
    border-radius: 3px;    
  }
}

.quoted_box {
  margin-top: 12px;
  padding: 12px;
  border: solid 1px #e1e8ed;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.feed-footer {
  border-top: $general-gray;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.overlay-grayout {
  .x-box {
    color: black;
    padding: 10px 20px 0 0;
    cursor: pointer;
    float: right;
  }
  
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.3);
  z-index: 10;

  .overlay {
    overflow: hidden;
    position: relative;
    top: 100px;
    @media(min-width: $mobile-breakpoint) {
      margin: 0 auto;
    }
    @media(max-width: $mobile-breakpoint) {
      margin: 15px 0;
    }
    
    width: 85%;
    min-height: 400px;

    color: black;
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;

    .blownup-image, .retweet-ui {
      display: none;
    }

    .blownup-image {
      @media(max-width: $mobile-breakpoint) {
	margin: 0;
      }
      
      background-color: $overlay-background;
      .image-container {
	display: flex;
	padding: 10px 0;
	img {
	  max-height: 500px;
	  margin: auto;
	}
      }
    }
  }
}


.quote-entry {
  padding: 15px;
  background-color: $overlay-background;
  #quote-entry {
    padding: 8px 10px;
    display: block;
    word-wrap: break-word;
    transition: padding-bottom 300ms cubic-bezier(0.455,0.03,0.515,0.955);
    min-height: 64px;
    overflow: hidden;
    margin-top: 15px;
    background-color: white;
  }
}

.original-tweet {
  #retweet {
    background-color: #16a765;
    color: white;
    border-radius: 3px;
    padding: 8px 3px;
    font-size: 0.9em;
    cursor: pointer;
    width: 80px;
    float: right;
    margin: 10px 35px 0 0;
    text-align: center;
  }
}

.quoted-mesg {
  border: solid 1px $general-gray;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
