$base-font: 18px;

$small-font: $base-font * 0.8;

/* Colors */
$general-gray: #8899a6;
$dashboard-gray: #b4bfc7;

$general-green: #19cf86;
$overlay-background: #E5E5FF;
$title-background: #bcafa5;

/* Breakpoints */

$mobile-breakpoint: 500px;
